html {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    margin-bottom: auto;
    overflow: visible;
}

body {
    background-color: black;
    color: white;
}

.animate {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade_in {
    -webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.intro
{
    width: auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: visible;
    margin-top: 0;
    margin-bottom: auto;
    text-align: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

#name
{
    font-weight: 300;
    font-size: 150;
    width: auto;
    order: 1;
    overflow: visible;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: auto;
}

#titles
{
    padding: 1em;
    font-weight: 200;
    font-size: 50;
    width: auto;
    order: 2;
}

#line {
    font-weight: 500;
    font-weight: bolder;
    font-size: 30;
    color: #ccc;
    order: 3;
}

.social-media
{
    font-weight: lighter;
    font-size: 25;
    width: auto;
    padding: 1em;
    order: 4;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.menu {
    
    width: auto;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1em;
    order: 5;
}

.content {
    order: 6;
    width: auto;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    margin: auto;
    padding: 3em;
}

.contact {
    text-align: center;
}

.contact a {
    color: white;
    text-decoration: none;
}

@-ms-viewport{
  width: device-width;
}

@media (max-width: 500px) {
    #name {
        text-align: center;
        font-size: 70;
    }
    #titles {
        text-align: center;
        font-size: 30;
    }
}