.social-media
{
    margin-top: 3em;
    display: block;
    font-weight: lighter;
    font-family: 'Rubik', sans-serif;
    font-size: 25;
    width: 100%;
    height: 3em;
    flex-wrap: wrap;
    clear: both;
    position: absolute;
}

.social-media div {
    margin: auto;
    display: block;
    float: left;
    width: auto;
    padding: 1em;
}

.social-media a {
    text-decoration: none;
    color: black;
    padding: 0.5em;
    border-style: solid;
    border-radius: 2em;
    border-color: white;
}

#linkedin :hover {
    border-style: solid;
    border-radius: 2em;
    border-color: #9400D3;
}

#devpost :hover {
    border-style: solid;
    border-radius: 2em;
    border-color: #4B0082;
}

#github :hover {
    border-style: solid;
    border-radius: 2em;
    border-color: #0000FF;
}

#twitter :hover {
    border-style: solid;
    border-radius: 2em;
    border-color: #00FF00;
}

#twitch :hover {
    border-style: solid;
    border-radius: 2em;
    border-color: #FFFF00;
}

#tumblr :hover {
    border-style: solid;
    border-radius: 2em;
    border-color: #FF7F00;
}

#youtube :hover {
    border-style: solid;
    border-radius: 2em;
    border-color: #FF0000;
}