.menu ul {
    list-style: none;
    width: auto;
}

.menu li {
    float: left;
    padding: 1em;
    width: auto;
    border-bottom: black solid 5px;
    border-top: white solid 5px;
    cursor: pointer;
}

.menu li:hover {
    border-top: #ccc solid 5px;
}

.menu i {
    color: black;
}


.edu {
    display: none;
}

.work {
    display: none;
}

.code {
    display: none;
}

.arch {
    display: none;
}